body {
    background-color: #EEEEEE;
}

.loading {
    background-image: url("../images/loading.gif");
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.norating {
    color: #428bca;
    line-height: 60px;
    font-size: 1.5em;
}

.rating{
    font-size: 2.3em;
    color: #428bca;
    line-height: 60px;
}

.ratinggroup{
    color: #428bca;
        line-height: 30px;
    font-size: 1.1em;

}

.indexpanel {
    overflow-y: auto;
}
.panel-title{
    text-align: center;
    font-size: 1.7em;
}

#content {
    margin-top: 20px;
}

.ticker-title{
    display: inline-block;
    font-size: 1.7em;
}

.ticker-content{
    display: inline-block;
    margin-left: 15px;
}

#ticker{
    margin-bottom: 30px;
}

#tickeraddon{
      color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

#head {
    font-size: 2em;
}

ul {
    list-style: none;
}

h1 {
    color: #285e8e;
    font-size: 3.5em;

}

.nav_li {
    display: inline-block;
    margin-right: 14px;
}

.header {
    display: inline-block;
}

a {
    color: #285e8e;
    text-decoration: none;
}

.selected {
    color: #285e8e;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: #285e8e;
}


@media (max-width: 992px){
    #searchtxt{
        display: None;
    }
}

@media(min-width: 992px){
    #searchico{
        display:None;
    }
}
hr {
    border-top: 3px solid #285e8e;;
    margin-top: 5px;
}

#search {
    margin-top: 15px;
    clear: both;
    padding: 10px;
    background-color: #D4D4D4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.navbar-default {
	background-color: #428bca;
	border-color: #5294cf;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #c2daef;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #c2daef;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #c2daef;
	background-color: #5294cf;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #c2daef;
	background-color: #5294cf;
}
.navbar-default .navbar-toggle {
	border-color: #5294cf;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #5294cf;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #c2daef;
}

@media (max-width: 893px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #c2daef;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #c2daef;
		background-color: #5294cf;
	}
}
