.panel-body{
    font-weight: bold;
}
.ratingbreakdown{
        font-weight: normal;
    color: #285e8e;
    display: inline-block;
}
.bluetext{
    font-weight: normal;
    color: #285e8e;
    display: inline-block;
}
.input-group-addon{
    min-width:145px;
}
h2{
    margin-top: -10px;
    margin-bottom: 40px;
    font-weight: bolder;
    color: #285e8e;
}

.ratingcomment{
    font-style: italic;
}