
.details{
    z-index: 5;
}
@media(min-width: 1200px){
.indexpanel{    max-height: 480px;
}
}

@media(max-width: 992px){
    .popularpanel{
        display:None;
    }
}

.comment{
    background-color: #eeeeee;
    margin-right: 0;
    display: none;
    width: 100%;
}