.rating{
    font-size: 3em;
    color: #428bca;
    line-height: 90px;
}

.course{
    min-height: 110px;
}
.indexpanel {
    max-height: 600px;
    overflow-y: auto;
}

.details{
    z-index: 5;
}

.panel-title{
    text-align: center;
    font-size: 1.7em;
}

.courselink {
    font-size: 1.2em;
}
.unilink {
    font-size: 1.1em;
}