.noresults {
    font-size: 1.4em;
    text-align: center;
}

@media (min-width: 992px) {
    .filters {
        max-width: 300px;
    }
}

.details{
    z-index:50;
}

.filter-heading {
    color: #428bca;
    font-weight: bold;
}

.btn-group {
    margin-bottom: 5px;
}

#sliders > label {
    margin-top: 10px;
    margin-bottom: 5px;
}