{% extends 'base.html' %}
{% load static %}
{% block head %}
<script type="text/javascript" src="{% static 'js/add_course.js' %}"></script>
<!--<link rel="stylesheet" type="text/css" href="{% static '' %}" media="screen"/> -->
{% endblock %}
{% block title %}Add New Course{% endblock %}
{% block content %}

<div class=" container col-xs-12 col-md-4 col-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">Add a New Course</div>
        <div class="post-rating panel-body col-xs-12 col-lg-10">
            {% if user.is_authenticated %}
            <form id="course_form" method="post" action="/api/add_course/">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.help_text}}
                {{ field }}<br/>
            {% endfor %}
            <p><span style="color:#ff0000">Mandatory fields are marked with a *</span></p>
            <input type="submit" value="Add Course" />
        </form>
            {% else %}
            <a href="/register/">Register Here</a><br />
            <a href="/login/?next={{ request.path}}">Login</a><br />
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}