<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>{% block title %}RateMyCourse{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" media="screen"/>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

	{% block head %} {% endblock %}


</head>

<body>

<div class="container col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <h1 class="header">RateMyCourse</h1>

    <ul class="header">
        <li class="selected"><a href="/">Index</a></li>
        <li><a href="/browse/">Browse Courses</a></li>
        <li><a href="/top/">Top Rated</a></li>
        <li><a href="/worst/">Worst Rated</a></li>
        {% if user_can_add_course %}
        <li><a href="/addcourse/">Add a Course</a></li>
        {% endif %}
    </ul>
    <div id="signin-buttons" class="header">
        <a href="#" class="btn btn-primary btn-sm">Login/Register</a>

    </div>


</div>
<div class="container col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <hr>
</div>
<div id="search" class="container col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
<form id="searchform" class="form-inline" role="form" onsubmit="return validateSearch()">
    <div class="form-group">
        <label class="sr-only" for="courseCode">Course Code</label>
        <input type="text" class="form-control" id="courseCode" placeholder="Course Code">
    </div>
    <div class="form-group">
        <label class="sr-only" for="courseName">Course Name</label>
        <input type="text" class="form-control" id="courseName" placeholder="Course Name">
    </div>
    <div class="form-group">
        <label class="sr-only" for="lecturer">Lecturer</label>
        <input type="text" class="form-control" id="lecturer" placeholder="Lecturer">
    </div>
    <div class="form-group">
        <label class="sr-only" for="university">University</label>
        <input type="text" class="form-control" id="university" placeholder="University">
    </div>        <button class="btn btn-primary" type="submit">Find Courses</button>

</form>

    </div>

	<div id="content" class="col-xs-12">{% block content %}{% endblock %} </div>
</body>
</html>