<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>{% block title %}RateMyCourse{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/redmond/jquery-ui-1.10.4.custom.css' %}" media="screen"/>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>

    {% block head %} {% endblock %}


</head>

<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="head" href="/">RateMyCourse</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class ="nav_li"
                {% if request.path == '/browse/' %}class="active"{% endif %}><a href="/browse/">Browse Courses</a></li>
                <li class ="nav_li"
                {% if request.path == '/top/' %}class="active"{% endif %}><a href="/top/">Top Rated</a></li>
                <li class ="nav_li"
                {% if request.path == '/worst/' %}class="active"{% endif %}><a href="/worst/">Worst Rated</a></li>
                {% if user_can_add_course %}
                <li class ="nav_li"
                {% if request.path == '/addcourse/' %}class="active"{% endif %}><a href="/addcourse/">Add a
                Course</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}

                <li
                {% if request.path == '/register/' %}class="active"{% endif %}><a href="/register/">Sign Up</a></li>
                <li
                {% if request.path == '/login/' %}class="active"{% endif %}><a href="/login/">Sign In</a></li>


				{% else %}

				<li {% if request.path == '/profile/' %}class="active"{% endif %}><a href="/profile/">Account</a></li>

                <li><a href="/logout/">Sign Out {{user.username}}</a></li>


				{% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

{% block searchbar %}
{% endblock %}

<div id="content"
     class="col-xs-12">
    {% block content %}{% endblock %}
</div>
</body>
</html>