{% extends 'base.html' %}
{% load static %}

{% block head %}
	<script type="text/javascript" src="{% static 'js/browse.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/browse.css' %}" media="screen"/>
{% endblock %}

{% block title %}Browse{% endblock %}

{% block searchbar %} {% include 'searchbar.html' %}{% endblock %}

{% block content %}

<div class="container col-xs-12 col-lg-10 col-lg-offset-1">
	<div class=" container col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
            <div id= "uni_header" class="panel-heading">
            <span class="panel-title">
            		<div>
	               		Select a University..
	               	</div>
            </span>
			</div>
            <ul id = "uni_list" class="list-group indexpanel">
                {% for uni in Universities %}
                <li class="list-group-item uni clearfix">
                	<span class="badge pull-left">{{uni.course_num}}</span>                    	
                    <span id = "uni_name" class = "list_item">{{uni.name}}</span>
                    <a href = "/summary/uni/{{uni.id}}/"><span class="glyphicon glyphicon-info-sign pull-right"></span></a>              
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
    
    
    
    <div id = "course_list" class=" container col-xs-12 col-sm-6 col-md-4"></div>
    
    <div id = "final_list" class=" container col-xs-12 col-sm-6 col-md-4"></div>
</div>
{% endblock %}