{% if courses %}

<div class="panel panel-primary">
<div id = "course_header" class="panel-heading"><h1 class="panel-title">Select a Course..</h1></div>
	<ul id = "c_list" class="list-group indexpanel">
	{% for c in courses %}
		<li class="list-group-item course clearfix">
			<div class="details col-xs-10 col-sm-9 col-lg-10">
			<a href = "/summary/course/{{c.url}}/"><span class="glyphicon glyphicon-info-sign"></span></a>
			<span id = "course_name" class = "list_item">{{c}}</span>
			</div>
		</li>
	{% endfor %}
	</ul>
</div>
{% else %}
<ul class="list-group indexpanel">
<div class="panel panel-primary">
<div class="panel-heading"><h1 class="panel-title">Select a Course..</h1></div>
		<li class="list-group-item course clearfix">
			<div class="details col-xs-10 col-sm-9 col-lg-10">
			<h3>The university has no courses</h3>
			</div>
		</li>
</div>
{% endif %}