<div class="panel panel-primary">
<div class="panel-heading"><h1 class="panel-title">Select a Year...</h1></div>
<ul class="list-group indexpanel">
	{% if c.description %}
		<li class="list-group-item course  light_blue clearfix">
		<div class="details col-xs-10 col-sm-9 col-lg-10">
			<h4>Description:</h4>{{c.description}}
		</div>
		</li>
	{% endif %}
	
	<li class="list-group-item course  light_blue clearfix">
	<div class="details col-xs-10 col-sm-9 col-lg-10">
		<h3>Year of teaching: {{c.year_of_degree}} <br>
		Taught by: {{c.lecturer}}<br></h3>
		<h4>Overall score: {{c.average_overall}}, Number of ratings:{{c.number_of_ratings}}</h4>	
		Difficulty: {{c.average_difficulty}} <br>
    	Teaching: {{c.average_teaching}} <br>
    	Materials: {{c.average_materials}} <br>
    	Satisfaction: {{c.average_satisfaction}} <br>
	</div>
	{% if top_good_reviews%}
		<li class="list-group-item nopadding clearfix">
			<ul class="list-group no-margin indexpanel">
				<div class="details col-xs-10 col-sm-9 col-lg-10 spanned">
					<div class="panel-heading green title_good "><h3 class="review_title ">Top Good reviews: </h3></div>
					{% for r in top_good_reviews%}
						<li class="list-group-item gcollapse light_green clearfix">
							<div class="details col-xs-10 col-sm-9 col-lg-10">
								<h5 class = "bold">By: {{r.user}} <br>
									On {{r.date}} <br>
									Rating: {{r.overall_rating}}<br></h5>
									Comment: {{r.comment}}
							</div>
						</li>
					{% endfor %}	
				</div>
			</ul>
		</li>
	{% endif %}
	{% if top_worst_reviews %}
		<li class="list-group-item nopadding clearfix ">
			<ul class="list-group no-margin indexpanel">
					<div class="panel-heading red title_bad"><h3 class="review_title">Top Bad reviews: </h3></div>
					{% for r in top_worst_reviews%}
						<li class="list-group-item bcollapse light_red clearfix">
							<div class="details col-xs-10 col-sm-9 col-lg-10">
								<h5 class = "bold">By: {{r.user}} <br>
									On {{r.date}} <br>
									Rating: {{r.overall_rating}}<br></h5>
									Comment: {{r.comment}}
							</div>
						</li>
					{% endfor %}	
				</div>
			</ul>
		</li>
	{% endif %}
	
	</li>
	
</ul>
</div>
