{% extends 'base.html' %}
{% block content %}

        {% if registered %}
        <strong>Thank you for registering with RateMyCourse!</strong>
        <p> You can login here. <a href="/login/"> Login</a></p>
        {% else %}
		
		
		<meta charset="utf-8">
		<title>jQuery UI Datepicker - Default functionality</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">	
		<script>
		$(function() {
			$( "#datepicker" ).datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange: "1900:2012",});});
			</script>
		
		
		
        <form class="form-inline col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-9 col-lg-5 col-lg-offset-4" method="post" role="form" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            <h2 class="form-signin-heading">Sign up Here</h2>

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

			<button class="btn btn-primary col-xs-10" type="submit">Sign Up</button>
        </form>
		{% endif %}
{% endblock %}