{% extends 'base.html' %}
{% block content %}

        {% if registered %}
        <strong>Thank you for registering with RateMyCourse!</strong>
        <a href="/">Return to the homepage.</a><br/>
        {% else %}
			
        <form class="form-inline col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" method="post" role="form" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

			<button class="btn btn-primary col-xs-12" type="submit">Sign Up</button>
        </form>
		{% endif %}
{% endblock %}