{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/results.css' %}" media="screen"/>
<script type="text/javascript" src="{% static 'js/filterable_results.js' %}"></script>
<script type="text/javascript" src="{% static 'js/top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% endblock %}
{% block searchbar %} {% include 'searchbar.html' %}{% endblock %}
{% block content %}
{% include "filterable_courses.html" with title="Top Rated Courses" %}
{% endblock %}