{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>{{u.name}} Summary</title>
<!--<link rel="stylesheet" type="text/css" href="{% static '' %}" media="screen"/> -->
{% endblock %}
{% block content %}
<div class=" container col-xs-12 col-md-4 col-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">{{u.name}} Summary</div>
        <div class="unisummary col-xs-12 col-lg-10">
            {{u.name}} <br />
            {{u.email_domain}} <br />
            {{u.country}} <br />
            {{u.city}} <br />
            {{u.telephone}} <br />
        </div>
    </div>
</div>
{% endblock %}