{% extends 'base.html' %}
{% load static %}
{% block head %}
{% block title %}{{u.name}} Summary{% endblock %}
<!--<link rel="stylesheet" type="text/css" href="{% static '' %}" media="screen"/> -->
{% endblock %}
{% block content %}
<div class=" container col-xs-12 col-md-4 col-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">{{u.name}} Summary</div>
        <div class="unisummary panel-body col-xs-12 col-lg-10">
           University: {{u.name}} <br />
           Domain: {{u.email_domain}} <br />
           Country: {{u.country}} <br />
           City: {{u.city}} <br />
           Telephone: {{u.telephone}} <br />
        </div>
    </div>
</div>
{% endblock %}